<!---- ABOUT ------>
<section class="about section" id="about">
    <h2 class="section-title">À PROPOS</h2>

    <div class="about__container bd-grid">
        {% for about in abouts %}
        <div class="about__img">
            <img src="/uploads/{{ about.image }}" alt="{{ about.subtitle }}">
        </div>

        <div>
            <h2 class="about__subtitle">{{ about.title }}</h2>
            <span class="about__profession">{{ about.subtitle }}</span>
            <p class="about__text">
                {{ about.description }}
            </p>

            <div class="about__social">
                <a href="https://fr.linkedin.com/in/benjamin-nsingi" class="about__social-icon"><i class='bx bxl-linkedin'></i></a>
                <a href="https://github.com/benjaminnsingi" class="about__social-icon"><i class='bx bxl-github'></i></a>
                <a href="https://twitter.com/benweb_" class="about__social-icon"><i class='bx bxl-twitter' ></i></a>
            </div>

        </div>
       {% endfor %}
    </div>
</section>
