<section class="contact section" id="contact">
    {% for message in app.flashes('message') %}
        <div class="message-success" role="alert">
           <p style="text-align: center"> {{ message }}</p>
        </div>
    {% endfor %}
    <h2 class="section-title">Contact</h2>

    <div class="contact__container bd-grid">
        <div class="contact__info">
            <h3 class="contact__subtitle">EMAIL</h3>
            <span class="contact__text">b.nsingi07@gmail.com</span>

            <h3 class="contact__subtitle">TELEPHONE</h3>
            <span class="contact__text">07 68 03 31 07</span>

            <h3 class="contact__subtitle">ADRESSE</h3>
            <span class="contact__text">ILe-De-France</span>
        </div>
        {{ form_start(form, {'attr': {'class': 'contact__form'}}) }}
        <div class="contact__inputs">
            {{ form_row(form.email) }}
            {{ form_row(form.sujet) }}
        </div>
        {{ form_row(form.message) }}
        <input type="submit" value="Envoyer" class="contact__button">
        {{ form_end(form) }}
    </div>
</section>
