<!--===== SKILLS =====-->
<section class="skills section" id="skills">
    <h2 class="section-title">Mes compétences</h2>

    <div class="skill__title">
        <h4>Langages principaux</h4>
    </div>
    <div class="portfolio__container bd-grid">
        <div class="portfolio__img">
            <img src="{{ asset('images/html.png') }}" alt="">
        </div>

        <div class="portfolio__img">
            <img src="{{ asset('images/css.png') }}" alt="">
        </div>

        <div class="portfolio__img">
            <img src="{{ asset('images/js.javascript.png') }}" alt="">
        </div>

        <div class="portfolio__img">
            <img src="{{ asset('images/php.png') }}" alt="">
        </div>

        <div class="portfolio__img">
            <img src="{{ asset('images/sql.png') }}" alt="">
        </div>
    </div>



    <div class="skill__title">
        <h4>Framework / Librairie / Plateforme</h4>
    </div>
    <div class="portfolio__container bd-grid">
        <div class="portfolio__img">
            <img src="{{ asset('images/symfony.png') }}" alt="">
        </div>

        <div class="portfolio__img">
            <img src="{{ asset('images/bootstrap.png') }}" alt="">
        </div>

        <div class="portfolio__img">
            <img src="{{ asset('images/jquery.png') }}" alt="">
        </div>

        <div class="portfolio__img">
            <img src="{{ asset('images/reactjs.png') }}" alt="">
        </div>

        <div class="portfolio__img">
            <img src="{{ asset('images/reactnative.png') }}" alt="">
        </div>

        <div class="portfolio__img">
            <img src="{{ asset('images/api-platform.png') }}" alt="">
        </div>
    </div>

    <div class="skill__title">
        <h4>Systèmes de gestion de base de données</h4>
    </div>
    <div class="portfolio__container bd-grid">
        <div class="portfolio__img">
            <img src="{{ asset('images/mysql.png') }}" alt="">
        </div>
    </div>

    <div class="skill__title">
        <h4>Outils de développement</h4>
    </div>
    <div class="portfolio__container bd-grid">
        <div class="portfolio__img">
            <img src="{{ asset('images/git.png') }}" alt="">
        </div>

        <div class="portfolio__img">
            <img src="{{ asset('images/gitlab.png') }}" alt="">
        </div>

        <div class="portfolio__img">
            <img src="{{ asset('images/github.png') }}" alt="">
        </div>

        <div class="portfolio__img">
            <img src="{{ asset('images/composer.png') }}" alt="" width="130px">
        </div>

        <div class="portfolio__img">
            <img src="{{ asset('images/webpack.png') }}" alt="">
        </div>

        <div class="portfolio__img">
            <img src="{{ asset('images/babel.png') }}" alt="">
        </div>

        <div class="portfolio__img">
            <img src="{{ asset('images/vscode.png') }}" alt="">
        </div>

        <div class="portfolio__img">
            <img src="{{ asset('images/androidStudio.png') }}" alt="" width="100px">
        </div>

        <div class="portfolio__img">
            <img src="{{ asset('images/phpstorm.png') }}" alt="" width="100px">
        </div>
    </div>

    <div class="skill__title">
        <h4>Environnement</h4>
    </div>
    <div class="portfolio__container bd-grid">

        <div class="portfolio__img">
            <img src="{{ asset('images/linux_logo.jpg') }}" alt="" width="130px">
        </div>

        <div class="portfolio__img">
            <img src="{{ asset('images/ubuntu.png') }}" alt="" width="80px">
        </div>
    </div>
</section>