<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Benjamin Nsingi | Portfolio!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <!-- Header --->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="{{ path('home') }}" class="nav__logo" style="text-decoration: none;">Benjamin Nsingi</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="{{ path('home') }}" class="nav__link">Accueil</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">À propos</a></li>
                        <li class="nav__item"><a href="#skills" class="nav__link">Compétences</a></li>
                        <li class="nav__item"><a href="#portfolio" class="nav__link">Portfolio</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                        {% if app.user %}
                            <li class="nav__item"><a href="{{ path('app_logout') }}" class="nav__link">Deconnexion</a></li>
                        {% else %}
                            <li class="nav__item"><a href="{{ path('app_login') }}" class="nav__link">Se connecter</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="bx bx-menu"></i>
                </div>
            </nav>
        </header>
        <main class="l-main">
            {% block content %}{% endblock %}
        </main>
        {% include 'component/footer.html.twig' %}
    </body>
</html>
